environment: development

server:
  host: 0.0.0.0
  port: 8000
  reload: true

database:
  host: localhost
  port: 5432
  user: maas
  password: maas
  database: maas

redis:
  host: localhost
  port: 6379
  password: ""
  db: 0

grpc:
  model_registry_host: localhost
  model_registry_port: 9090

log:
  level: INFO
  format: json
