name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
          cache: true
      - name: Tidy
        run: go mod tidy
      - name: Verify no diff after tidy
        run: git diff --exit-code
      - name: Test
        run: go test ./...
      - name: Vet
        run: go vet ./...
